@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row justify-content-start" >
            <div class="nav-item">
                <span class="title">Academia Sevilla Este</span>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="button" aria-hidden="true"></span> Inicio
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="/form" Match="NavLinkMatch.All">
                    < class="button" aria-hidden="true"></> Matrícula
                </NavLink>
            </div>
        </div>
        <article class="container">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
