
.bs-stepper-circle {
    background-color: cornflowerblue !important;
    opacity: 0.8 !important;
}

.bs-stepper-label {
    color: white !important;
}

.line {
    background-color: white !important;
    margin-top: 40px !important;
}

.row {
    padding: 0.5rem !important;
}

.bs-stepper-circle-selected {
    display: inline-flex;
    align-content: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    padding: .5em 0;
    margin: .25rem;
    line-height: 1em;
    color: #fff;
    background-color: black;
    border-radius: 1em;
}

.form-control {
    text-align: center !important;
}
