body {
    background-image: url(https://img.freepik.com/foto-gratis/diversos-ninos-leyendo-libros_53876-146406.jpg?w=740&t=st=1709994025~exp=1709994625~hmac=49223c53f2549a841d00f96eefcfc195d8bd13655472c977675f96f2ded9efbb);
    margin: 0;
    padding: 0 !important;
    background-size: cover; /* La imagen cubrirá todo el área del elemento */
    background-position: center; /* La imagen estará centrada */
    background-repeat: no-repeat; /* Evitar que la imagen se repita */
    height: 100vh; /* Ajustar la altura del cuerpo al 100% del viewport */
}

.menu {
    width: 80%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 790px;
    opacity: 0.9;
    border-radius: 20px;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

a, h3 {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    padding: 4px;
}

h4 {
    text-align:center;
}
