<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <!-- Bootstrap CSS (you can set the Bootstrap flavor with a parameter) -->
    @((MarkupString)HxSetup.RenderBootstrapCssReference(BootstrapFlavor.PlainBootstrap))

    <!-- Default values for additional CSS Variables (+ import Bootstrap Icons) -->
    <link href="_content/Havit.Blazor.Components.Web.Bootstrap/defaults.css" rel="stylesheet" />

    <!-- Blazor CSS Isolation -->
    <link href="EnglishAcademyProject.styles.css" rel="stylesheet" />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="menu.css" />
    <link rel="stylesheet" href="form.css" />
    <link rel="stylesheet" href="bs-stepper.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/css/bs-stepper.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bs-stepper/dist/js/bs-stepper.min.js">


    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="bs-stepper.min.js"></script>

    <script src="_framework/blazor.web.js"></script>
    <!-- JavaScript Bundle with Popper -->
    @((MarkupString)HxSetup.RenderBootstrapJavaScriptReference())
</body>

</html>
